{{#if success_msg}}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
  {{{success_msg}}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if warning_msg}}
<div class="text-muted alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{{warning_msg}}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if error_msg}}
{{#each error_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{{this}}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}